page-home {
  background-color: gray;
  font-kerning: normal;
  font-weight: 10;
  font-size: 10px;
}

h2{ margin-top: 6%;

}

#email{
border-radius: 10px;
}

#password{
  border-radius: 10px;
}


#button{
  background-color: white;
  color: blue;
}
